<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Analysis Application</display-name>

	<servlet>
		<servlet-name>ViewScrappedDataController</servlet-name>
		<servlet-class>ca.concordia.soen6461.analysis.controller.ViewScrappedDataController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewScrappedDataController</servlet-name>
		<url-pattern>/scrapped</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MainController</servlet-name>
		<servlet-class>ca.concordia.soen6461.analysis.controller.MainController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/main</url-pattern>
		<url-pattern></url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TestServerEventController</servlet-name>
		<servlet-class>ca.concordia.soen6461.analysis.controller.TestServerEventController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServerEventController</servlet-name>
		<url-pattern>/testServerEvent</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>TestXmlController</servlet-name>
		<servlet-class>ca.concordia.soen6461.analysis.controller.TestXmlController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestXmlController</servlet-name>
		<url-pattern>/testXml</url-pattern>
	</servlet-mapping>

</web-app>
